:root {
  font-family: 'Nunito', sans-serif;
  --white: #f8f8f8;
  --black: #0c0c0c;
  --background: #eeeeee;
  --button-color: #fefefe;
  --green: #55ff55;
  --red: #ff5555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #353535;
    --black: #eeeeee;
    --background: #444444;
    --button-color: #272727;
  }
}

* {
  margin: 0;
  padding: 0;
  color: var(--black);
}

button {
  background-color: var(--button-color);
  border-radius: 10px;
  border: none;
  font-size: 1.25rem;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 96px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .1);
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  padding: 0 6rem;
  font-weight: bold;
  z-index: 1;
  background-color: var(--white);
}

main {
  display: flex;
  background-color: var(--background);
  height: 90%;
  padding: 72px;
  overflow-y: auto;
}

.cards {
  /* Bookshelf */

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 285px;
  gap: 24px 24px;
}

.card {
  display: flex;
  border-radius: 12px;
  padding: 24px;
  height: 250px;
  word-wrap: break-word;
  background-color: var(--white);
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.card > .title {
  font-weight: bold;
  font-size: 2rem;
}

.card > .author {
  font-style: italic;
}

.card > button {
  height: 2rem;
}

#add {
  --width: 250px;
  position: fixed;
  bottom: 30px;
  left: calc(50% - var(--width) / 2);
  width: var(--width);
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  height: 400px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -150px;
  margin-top: -200px;
  background-color: var(--white) !important;
  box-shadow: 8px 24px 24px rgba(0, 0, 0, .2);
  border-radius: 12px;
}

#addBook {
  border: none;
}

#addBookForm {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 18px;
}

#addBook button {
  width: 50%;
  height: 30px;
}

input {
  background:none;  
  border: none;
  outline-style: none;
  border-bottom: 1px solid var(--white);
}

input[type=text],
input[type=number] {
  width: 75%;
}

input:focus {
  border-bottom: 1.7px solid var(--black);
}

.btn-green {
  background-color: var(--green);
}

.btn-red {
  background-color: var(--red);
}